// ========== Primary Navigation ========== //

.nav-primary {
	background: white;
	@include media($navigation__breakpoint) {}



	// ========== Top Level Menu ========== //

		.genesis-nav-menu {
			justify-content: center;
			max-width: 1280px;
		}

		// Menu Items.
		.genesis-nav-menu > .menu-item {

			& > a {
				color: $color--text-dark;
				font-size: 18px;
				font-weight: bold;
				padding: 15px;
				@include media($navigation__breakpoint) {}
			}
		}



	// ========== Sub Level Menu ========== //

		.sub-menu {
			background: white;
			@include media($navigation__breakpoint) {}
		}

		// Menu Items.
		.sub-menu > .menu-item {
			
			& > a {
				color: $color--text-dark;
				font-size: 16px;
				font-weight: normal;
				padding: 15px;
				@include media($navigation__breakpoint) {}
			}
		}



	// ========== Menu Item Effects ========== //

		// Currently viewing.
		.genesis-nav-menu .current-menu-item > a,
		.sub-menu .current-menu-item > a {

			&:hover,
			&:focus {}
		}

		// Top Level Menu Item Effects.
		.genesis-nav-menu > .menu-item > a:hover,
		.genesis-nav-menu > .menu-item > a:focus {
			color: $color--link-light-hover;
			background: transparent;
		}

		// Sub Level Menu Item Effects.
		.sub-menu > .menu-item > a:hover,
		.sub-menu > .menu-item > a:focus {}

		// Persistent Menu Item Effects. (Desktop only)
		@include media($navigation__breakpoint) {
			.genesis-nav-menu > .menu-item.sfHover > a {}

			.sub-menu > .menu-item.sfHover > a {}
		}
}