// ========== Entry Headers ========== //



// Page Headers.
.page .entry-header,
.archive-description {
	margin: 0 0 50px;
	max-width: 100%;

	.entry-title,
	.archive-title {
		margin: 0;
	}
}



// Post Headers.
.post .entry-header {
	
	.entry-title .entry-title-link {
		color: $color--text-dark;
		&:focus, &:hover {
			color: $color--link-dark-hover;
		}
	}

	.entry-meta {
		margin-bottom: $mobile-spacing;
	}
}