// ========== Base ========== //

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 40px;
}

.comment-list {
	li {
		padding: $mobile-spacing 0 0 $mobile-spacing;
		@include media(ms) {padding: $desktop-spacing 0 0 $desktop-spacing;}
	}

	.depth-1 {padding-left: 0;}
}

.comment-content ul > li {list-style-type: disc;}

.entry-pings .reply {display: none;}

.comment-form-cookies-consent label {
	display: inline;
	padding-left: 10px;
}
