// ========== Base ========== //

.site-inner {
	border-top: 1px solid transparent; // Prevents collapsing margin.
}

.content-sidebar-wrap {
	display: grid;
	grid-gap: $mobile-spacing;
	margin: $content-sidebar-wrap--margin;
	max-width: $content-sidebar-wrap--max-width;
	@include media(ms) {grid-gap: $desktop-spacing;}
	@include media(l) {grid-gap: $content-sidebar-wrap--desktop-grid-gap;}

	.content-sidebar & {
		@include media(l) {grid-template-columns: 1fr minmax(auto,$widgets--max-width);}
	}

	.sidebar-content & {
		@include media(l) {grid-template-columns: minmax(auto,$widgets--max-width) 1fr; .content {order: 2;}}
	}

	.content-sidebar-sidebar & {
		@include media(l) {grid-template-columns: 1fr minmax(auto,$widgets--max-width);}
		@include media(xl) {grid-template-columns: 2fr minmax(auto,1fr) minmax(auto,1fr);}
	}

	.sidebar-sidebar-content & {
		@include media(l) {grid-template-columns: minmax(auto,$widgets--max-width) 1fr; .sidebar-primary {order: 2} .content {order: 3;}}
		@include media(xl) {grid-template-columns: minmax(auto,1fr) minmax(auto,1fr) 2fr;}
	}

	.sidebar-content-sidebar & {
		@include media(l) {grid-template-columns: 1fr minmax(auto,$widgets--max-width);}
		@include media(xl) {grid-template-columns: minmax(auto,1fr) 2fr minmax(auto,1fr); .content, .sidebar-primary {order: 2;}}
	}

	.full-width-content & {
		grid-template-columns: none;
	}
}
