// ========== Tables ========== //

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-word;

	tbody {border-bottom: 1px solid $color--text-dark;}

	td {
		text-align: left;
		border-top: 1px solid $color--text-dark;
		padding: 10px;
	}
	
	th {font-weight: 700; text-align: left;}
}

