// ========== Body ========== //

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $body--background-color;
	color: $color--text-dark;
	font-family: $font-stack--primary;
	font-size: $body--font-size;
	line-height: $body--line-height;
	overflow-x: hidden;
}

a {
	color: $color--link-dark;
	text-decoration: none;
	@extend %transition;
	&:focus, &:hover {
		color: $color--link-dark-hover;
		text-decoration: underline;
	}
}

em, i {font-style: italic;}

img {height: auto;}
