// ========== Colors ========== //


// Descriptive Color Variables

    $blue             : rgb(60, 150, 210);
    $light-red        : rgb(205,139,118);
    $light-grey       : rgb(240,240,240);

    $white            : rgb(255,255,255);
    $grey             : rgb(190,190,190);
    $black            : rgb(48,48,48);
    $stock-green      : rgb(100,200,0);
    $stock-red        : rgb(200,50,0);

// Functional Color Variables

    $color--primary             : $blue;
    $color--secondary           : $grey;
    $color--tertiary            : $light-red;
    $color--quaternary          : $light-grey;
    $color--quinary             : $black;
    
    $color--text-dark           : $black;
    $color--text-light          : $light-grey;

    $color--link-dark           : lighten($color--primary, 10%);
    $color--link-dark-hover     : darken($color--primary,20%);

    $color--link-light          : $light-grey;
    $color--link-light-hover    : $white;

    $color--shadow              : rgba(0,0,0,.4);

    $body--background-color     : $white;

// Gutenberg Color Pallette Array

    $colors:    ( primary,     $blue       ),
                ( secondary,   $grey       ),
                ( tertiary,    $light-red  ),
                ( quaternary,  $light-grey ),
                ( quinary,     $black      );