// ========== Layout ========== //



// ===== Spacing ===== //

    $mobile-spacing         : 15px;
    $desktop-spacing        : 30px;

// ===== Site Inner Options ===== //

    $content-sidebar-wrap--max-width            : 1280px; // Max Width – none, 1280px, 1100px, etc...
    $content-sidebar-wrap--margin               : 50px auto 60px;
    $content-sidebar-wrap--desktop-grid-gap     : 50px;

    $content--max-width                         : 800px;
    $widgets--max-width                         : 350px;