// ========== Animations ========== //



// Fade in all content upon page load.
.site-container {animation: fadein 1s;}

@keyframes fadein {

	from {opacity: 0;}
	to {opacity: 1;}
}



// Standard transitions.
%transition {
	transition: all 0.2s ease-in-out;
}



// Add default transitions.
button,
input,
select,
textarea,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.gallery img {
	@extend %transition;
}